
.wrapper{margin: 0px !important; padding: 0px !important;}


/****************************************for mobile and default style*******************************************************/
.contents{background-color: #ffffff;width: 100% !important; height:100%!important; float:left;position:relative;
    top:0px; z-index: -10}
.navbar-right li a{color:#61122F !important;font-weight: bold }
.navbar-brand{margin: 0 !important;width:100px !important;float: left}
.logo-text{float: none;text-align: left;width: 200px;margin: -20px 20px;padding: 0 5px !important}
.logo-text h2{font-size:10px; color: #23527c}
.logo{float: left;margin-left: 0}
.logo img{width: 47px; height: 47px; margin-top: -15px}
/*************style for dropdown menu on mobile and change style for default bootstrap navbar********************/
.navbar-default{background-color:#6495ED !important;width: 100% !important;height:50px;  }
.navbar-collapse{z-index:1; background-color:#6495ED !important;}
.navbar-collapse li a{text-align: center !important}
.navbar-collapse li:hover{background-color:#61122F !important;}
.navbar-collapse li:hover  a{color: white !important;}
.navbar-toggle{background-color:#6495ED !important; border-color:#61122F !important}
.icon-bar{background-color:#61122F !important}

.duyur{margin: 0 auto}
.duyur-inner h5{text-align: center; font-size: 2em; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif}
.thumbnail{border: none !important;border-radius: 0 !important;}
.footer{background-color: #424647; margin-top:400px; color: white}

/****************************************for tablet*******************************************************/
@media screen and (max-width: 750px) and (min-width: 360px) {
    .navbar-default{
        background-color:#6495ED !important;
        width: 100% !important;
        height:50px;
    }
}
/*****************************************for desktop******************************************************/
@media only screen and (min-width :750px){
    .navbar-brand{margin: 0 !important;width:500px !important;float: left}
    .navbar-default{
        background-color:#6495ED !important;
        width: 100% !important;
        height:150px;
        margin: 0 !important;
    }
    .navbar-header{width: 560px}
    .logo img{width:95px; height: 95px; margin-top: 0}
    .logo-text{float: none;width: 385px;margin: 23px 90px !important;}
    .logo-text h2{font-size:20px;margin: 0 10px;}
    .slider{margin: 0 auto; width: 100%; height: 400px}
    .slider img{width: 100%; height: 400px}
    .footer{margin-top:450px !important;}
    .duyur-inner{width:1170px !important; height: auto;margin: 0 auto !important}
    .duyur-inner img{width:400px;height: 350px}
}